body {
    --red: #f76c6c;
    --blue: #24305e;
    --light-blue: #a8d0e6;
    --yellow: #ffe985;

    --text-color: #594545;
    --background-color: #FFF8EA;
    --header-color: #9E7676;

    color: var(--text-color);
    background-color: var(--background-color);

    font-family: roboto, monospace;
    font-size: x-large;
}

.bar-chart {
    height: 60vh;
    width: 80vw;
}

.pie-chart {
    height: 30vh;
    width: 30vw;
}

.bubble-chart {
    height: 60vh;
    width: 80vw;
}

.placeholder-400-red {
    height: 600px;
    background: var(--red);
    width: 400px;
}

.placeholder-400-blue {
    height: 400px;
    background: var(--blue);
    width: 400px;
}

.placeholder-400-light-blue {
    height: 400px;
    background: var(--light-blue);
    width: 700px;
}

.placeholder-400-yellow {
    height: 400px;
    background: var(--yellow);
    width: 400px;
}

.placeholder-400-empty {
    height: 0px;
    width: 0px;
}

.main-scroll {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
}

.text-block {
    max-width: 60vw;
}

.full-width-text-block {
    max-width: 90vw;
}

h2 {
    border-bottom: 3px solid var(--header-color);
    color: var(--header-color);
}
h1 {
    border-bottom: 3px solid var(--header-color);
    color: var(--header-color);
}

@media screen and (min-width: 1200px) {
    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 4rem
    }

    .text-block {
        max-width: 30vw;
    }

    .placeholder-400-empty {
        height: 400px;
        width: 700px;
    }
}